<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    <h2>التبرع لحملة {{campaign.title}}</h2>
    <form method="POST">
        {%csrf_token%}
        <label>المبلغ</label>
        <input type="number" name="amount" min="1" required>
        <p style="color: red;">{{errors.amount}}</p>
        <br><br>
        <button type="submit">تبرع الان</button>
    </form>
    <a href="{% url 'donor_dashboard' %}">⬅ العودة إلى لوحة التحكم</a>
</body>
</html>